{% extends "partials/layouts/layout-master.html" %}

{% block title %}
  {$ super() $}
  {$ config.site_name $}
{% endblock %}

{% block head %}
  {$ super() $}

  <!--[if lt IE 9]><script type="text/javascript">window.location.href = 'invalid-browser.html';</script><![endif]-->

  <!-- css & media -->
  <link rel="stylesheet" type="text/css" href="css/app.css" />

{% endblock %}

{% block bodyTag %}
  ng-controller="AppCtrl as AppCtrl"
{% endblock %}


{% block body %}

  {$ super() $}

  <!-- the app -->
  <div id="app" class="container ng-cloak">

    {% block app %}{% endblock %}

    <div class="row" id="footer">
      <div class="createdBy">
        copyright &copy;
        <span class="text-muted"> | </span> www.actifi.com
      </div>
    </div>
  </div>

  <div modal-holder></div>
  <div loader-holder></div>
  <div msg-holder></div>

{% endblock %}

