{% extends "partials/layouts/layout-master.html" %}

{% block htmlTag %}ng-app="myApp"{% endblock %}

{% block title %}
  {$ super() $}
  {$ config.label.moduleAuth $}
{% endblock %}

{% block head %}
  {$ super() $}

  <!--[if lt IE 9]><script type="text/javascript">window.location.href = 'invalid-browser.html';</script><![endif]-->

  <!-- css & media -->
  <link rel="stylesheet" type="text/css" href="css/app.css" />

{% endblock %}

{% block bodyTag %}
  ng-controller="AppCtrl as AppCtrl"
{% endblock %}


{% block body %}

  {$ super() $}

  {% block app %}{% endblock %}

  <div modal-holder></div>
  <div loader-holder></div>
  <div msg-holder></div>

{% endblock %}


{% block js %}
  {$ super() $}
  <script src="js/libs.js"></script>
  <script src="js/af-angular-lib.js"></script>
  <script src="js/app.js"></script>
{% endblock %}

